h2{
    text-align: center;
    margin: 30px;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .team-member {
    width: 200px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: transform 0.3s;
  }
  
  .team-member:hover {
    transform: translateY(-5px);
  }
  
  h4{
    height: 80px;
  }
  
  /* Mobil cihazlar için */
  @media (max-width: 768px) {
    .team-member {
      width: 100%;
    }
  }